@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/AdminDashboard/_AdminLayout.cshtml";
}

<head>
    <title>Admin Panel | Event Management</title>

    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <!--css file-->
    <link rel="stylesheet" href="~/css/DashboardStyles.css" />
</head>

<body>




    <script src="~/js/Dashboard.js" asp-append-version="true"></script>

</body>



@* <@* div>
    <h1 class="display-4">Welcome to Family</h1>
</div> *@