@model IEnumerable<Event_Management_App.Models.GetAllBookedDetails>

@{
    ViewData["title"] = "Booked Event";
    Layout = "_AdminLayout";
}

<div class="col-xl-12 bx-grid-small" style=" display: flex; justify-content: space-between;">

    <h3 class="font-weight-bold">@ViewData["title"]</h3>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookEvent">
            Add
        </button>
    </p>
</div>



<div class="container">
    <div id="cardContainer" class="row">
        <!-- Cards will be appended here -->
    </div>
</div>

<script>

    $(document).ready(function () {
        getAddEventList();
    });

    function getAddEventList() {
        $.ajax({
            type: "Get",
            url: "/BookedEvents/BookedEventsList",
            success: function (data) {
                var cardContainer = $('#cardContainer');
                data.forEach(function (item) {
                    var card = `
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 p-3">
                                <img src="/addeventimages/${item.AddEventModel.ImagePath}" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <h5 class="card-title">${item.AddEventModel.Category}</h5>
                                    <p class="card-text">Location: ${item.AddEventModel.Location}</p>
                                    <p class="card-text">Deposit: ${item.BookedEventsModel.Deposit}</p>
                                    <p class="card-text">Balance: ${item.BookedEventsModel.Balance}</p>
                                    <p class="card-text">Date: ${item.BookedEventsModel.Date}</p>
                                    <p class="card-text">Time: ${item.BookedEventsModel.Time}</p>
                                    <p class="card-text">Status: ${item.BookedEventsModel.Status}</p>
                                    <a href="#" class="btn btn-primary" onclick="viewEventData(${item.BookedEventsModel.Id})">View</a>
                                    <a href="#" class="btn btn-warning" onclick="populateEventData(${item.BookedEventsModel.Id})">Edit</a>
                                    <a href="#" class="btn btn-danger" onclick="deleteEventData(${item.BookedEventsModel.Id})">Delete</a>
                                </div>
                            </div>
                        </div>
                    `;
                    cardContainer.append(card);
                });
            },
            error: function (textStatus, errorThrown) {
                console.log('Error: ' + textStatus);
            }
        });
    }



</script>
