@{
    ViewData["Title"] = "Cutomer";
    Layout = "_UILayout";
}

<!-- header section starts  -->
<header class="header">
    <a href="#" class="logo"><span>k</span>anasu</a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#service">service</a>
        <a href="#about">about</a>
        @* <a href="#gallery">gallery</a> *@
        <a href="#price">price</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a href="#gallery">booking</a>
        <a asp-controller="User" asp-action="Login">LogOut</a>
        <img src="/images/jack.jpg" class="rounded-image" width="50" height="50" alt="Image" />
    </nav>

    <div id="menu-bars" class="fas fa-bars"></div>
</header>

<!-- home section starts  -->
<section class="home" id="home">
    <div class="content">
        <h3>
            where your ideas take off
            <span> kanasu events </span>
        </h3>
        <a href="#" class="btn">get quote</a>
    </div>

    <div class="swiper-container home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/home1.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="/images/home2.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="/images/home3.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="/images/home4.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="/images/home5.jpg" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="/images/home6.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<!-- service section starts  -->
<section class="service" id="service">
    <h1 class="heading">our <span>services</span></h1>

    <div class="box-container">
        <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>invitation card design</h3>
            <p>
                Send out beautifully designed invitations for any occasion with the
                help of our professionally-designed, printable invitation templates.
            </p>
        </div>

        <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>photos and videos</h3>
            <p>
                The best thing about a picture and videos are that it never changes,
                even when the people in it do.
            </p>
        </div>

        <div class="box">
            <i class="fas fa-music"></i>
            <h3>entertainment</h3>
            <p>
                Music, once admitted to the soul, becomes a sort of spirit,
                and never dies.
            </p>
        </div>

        <div class="box">
            <i class="fas fa-car"></i>
            <h3>event vehicles</h3>
            <p>
                The best way to travel across the road to success
                is in a vehicle that embodies the essence of success.
            </p>
        </div>

        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>venue selection</h3>
            <p>
                Every one of us is an artist, and as an artist, you really can
                stroll into any venue that you want, as long as you take your
                time to learn the etiquette of that venue.
            </p>
        </div>

        <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>food catering</h3>
            <p>
                Food, in the end, in our own tradition, is something holy.
                It's not about nutrients and calories. It's about sharing.
                It's about honesty. It's about identity.
            </p>
        </div>
    </div>
</section>

<!-- about section starts  -->
<section class="about" id="about">
    <h1 class="heading"><span>about</span> us</h1>

    <div class="row">
        <div class="image">
            <img src="/images/about.jpg" alt="" />
        </div>

        <div class="content">
            <h3>your occasion deserves our careful planning</h3>
            <p>
                We are Corporate Event Planners and one of the Best Event Management Company
                in Bangalore with our services available PAN India. Our forte lies in delivering
                cutting edge, innovative and professional event management services.
                We are a bunch of fun loving, energetic and passionate people working towards
                the common goal of providing exceptional services. From inspirational ideas to
                stunning productions, strong themes and creative programs, we do everything to
                create memorable experiences and branding opportunities that exceed customer expectations.
            </p>
            <p>
                We take pride in presenting ourselves as one of the best in the industry.
                We offer a wide range of event management services.
                Be it a Virtual conference, Award ceremony, Product launch, Family event
                or Sports event, we have you covered. We are a one stop solution to
                all your corporate situations.
            </p>
            <a href="#" class="btn">reach us</a>
        </div>
    </div>
</section>

<!-- gallery section starts  -->
<section class="gallery" id="gallery">
    <h1 class="heading">our <span>gallery</span></h1>

    <div class="box-container">
        <div class="box">
            <img src="/images/gallery1.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/gallery2.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/gallery3.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/gallery4.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/gallery5.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/gallery6.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/gallery7.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/gallery8.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/images/gallery9.jpg" alt="" />
            <h3 class="title">best events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <a asp-controller="CustomerBooking" asp-action="CustomerBooking" class="btn">Book Event</a>

    </div>

</section>

<!-- price section starts  -->
<section class="price" id="price">
    <h1 class="heading">our <span>pricing</span></h1>

    <div class="box-container">
        <div class="box">
            <h3 class="title">basic</h3>
            <h3 class="amount">$879.00</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li><i class="fas fa-check"></i> decorations</li>
                <li><i class="fas fa-check"></i> music and photos</li>
                <li><i class="fas fa-check"></i> food and drinks</li>
                <li><i class="fas fa-check"></i> invitation card</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">prime</h3>
            <h3 class="amount">$799.00</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li><i class="fas fa-check"></i> decorations</li>
                <li><i class="fas fa-check"></i> music and photos</li>
                <li><i class="fas fa-check"></i> food and drinks</li>
                <li><i class="fas fa-check"></i> invitation card</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">luxury</h3>
            <h3 class="amount">$379.00</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li><i class="fas fa-check"></i> decorations</li>
                <li><i class="fas fa-check"></i> music and photos</li>
                <li><i class="fas fa-check"></i> food and drinks</li>
                <li><i class="fas fa-check"></i> invitation card</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">ultra</h3>
            <h3 class="amount">$920.00</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li><i class="fas fa-check"></i> decorations</li>
                <li><i class="fas fa-check"></i> music and photos</li>
                <li><i class="fas fa-check"></i> food and drinks</li>
                <li><i class="fas fa-check"></i> invitation card</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">platinum</h3>
            <h3 class="amount">$1120.00</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li><i class="fas fa-check"></i> decorations</li>
                <li><i class="fas fa-check"></i> music and photos</li>
                <li><i class="fas fa-check"></i> food and drinks</li>
                <li><i class="fas fa-check"></i> invitation card</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">gold</h3>
            <h3 class="amount">$1520.00</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li><i class="fas fa-check"></i> decorations</li>
                <li><i class="fas fa-check"></i> music and photos</li>
                <li><i class="fas fa-check"></i> food and drinks</li>
                <li><i class="fas fa-check"></i> invitation card</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>
    </div>
</section>

<!-- review section starts  -->
<section class="reivew" id="review">
    <h1 class="heading">client's <span>review</span></h1>

    <div class="review-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="/images/img1.jpg" alt="" />
                    <div class="user-info">
                        <h3>nayana</h3>
                        <span>happy customer</span>
                    </div>
                </div>
                <p>
                    Thank you for endeavoring over the last 10 days to complete all the 101
                    city events.As we end this journey here, we look forward to opening a new chapter
                    where we may come together once again to deliver a new success story!
                </p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="/images/img2.jpg" alt="" />
                    <div class="user-info">
                        <h3>lisa</h3>
                        <span>happy customer</span>
                    </div>
                </div>
                <p>
                    The endless hours that you have spent worring on this project &amp;
                    the professionalism that you have shown has impressed us immensely.
                    Your diligence, dedication and attention to detail has helped our event
                    to be a grand success!
                </p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="/images/img3.jpg" alt="" />
                    <div class="user-info">
                        <h3>mary</h3>
                        <span>happy customer</span>
                    </div>
                </div>
                <p>
                    Arranged a day’s outing for the kids of Shanthibhavan.
                    Was so well managed. Anitha was personally present
                    and made sure that everything went like clockwork.
                    Sajjad, Guru, Harvin did an outstanding job!
                    Unbelievable level of ownership and commitment!!
                    Will repeat next year thanks to Bala, Anitha and Team
                </p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="/images/img4.jpg" alt="" />
                    <div class="user-info">
                        <h3>rose</h3>
                        <span>happy customer</span>
                    </div>
                </div>
                <p>
                    We would like to extend our appreciation for the amazing done by
                    you &amp; the etiner team at Dreams Events and services
                </p>
            </div>
        </div>
    </div>
</section>

<!-- contact section starts  -->
<section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us</h1>

    <form action="">
        <div class="inputBox">
            <input type="text" placeholder="name" />
            <input type="email" placeholder="email" />
        </div>
        <div class="inputBox">
            <input type="tel" placeholder="number" />
            <input type="text" placeholder="subject" />
        </div>
        <textarea name="" placeholder="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn" />
    </form>
</section>

<!-- footer section starts  -->
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>branches</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> bangalore </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> hyderabad </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> delhi </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> kolkata </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> chennai </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> service </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> about </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> gallery </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> price </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> reivew </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-envelope"></i> kanasu@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> kanasuind@gmail.com </a>
            <a href="#">
                <i class="fas fa-map-marker-alt"></i> bangalore, india - 560054
            </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="https://www.linkedin.com/in/pranay-kalamkar-57b40b184" target="_blank"> <i class="fab fa-linkedin-in"></i> linkedin </a>
        </div>
    </div>

    <div class="credit">
        created by <span>Pranay Kalamkar</span> | all rights reserved
    </div>
</section>

<!-- theme toggler  -->
<div class="theme-toggler">
    <div class="toggle-btn">
        <i class="fas fa-cog"></i>
    </div>

    <h3>choose color</h3>

    <div class="buttons">
        <div class="theme-btn" style="background: #ccff33"></div>
        <div class="theme-btn" style="background: #d35400"></div>
        <div class="theme-btn" style="background: #f39c12"></div>
        <div class="theme-btn" style="background: #1abc9c"></div>
        <div class="theme-btn" style="background: #3498db"></div>
        <div class="theme-btn" style="background: #9b59b6"></div>
    </div>
</div>
