@model IEnumerable<Event_Management_App.Models.GetAllBookedDetails>

@{
    ViewData["Title"] = "Book Event";
    Layout = "_BookingLayout";
}

<!-- Modal for Update Data -->
<div class="modal fade" id="bookEvent" tabindex="-1" aria-labelledby="bookEventModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookEventModalLabel">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="update">

                    <input hidden id="Id" name="Id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Category" class="form-label">Category : </label>
                                <input id="Category" type="text" name="Category" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Location" class="form-label">Location : </label>
                                <input id="Location" type="text" name="Location" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Capacity" class="form-label">Capacity : </label>
                                <input id="Capacity" type="text" name="Capacity" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Amount" class="form-label">Amount : </label>
                                <input id="Amount" type="text" name="Amount" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="Contact" type="text" name="Contact" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="Address" type="text" name="Address" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description : </label>
                                <input id="Description" type="text" name="Description" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Deposit" class="form-label">Deposit : </label>
                                <input id="Deposit" type="text" name="Deposit" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Date" class="form-label">Date : </label>
                                <input id="Date" type="date" name="Date" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Time" class="form-label">Time : </label>
                                <input id="Time" type="time" name="Time" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ImageFile" class="form-label">Venue Image : </label>
                                <input id="ImageFile" type="text" name="ImageFile" class="form-control" onchange="previewImage(this)" autocomplete="off" hidden />
                                <div class="mb-3" style="display: flex; flex-direction: column;">
                                    <img id="imagePreviewView" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="updateBook()" class="btn btn-success">Payment</button>
            </div>

        </div>
    </div>
</div>



<div class="container">
    <div id="cardContainer" class="row">
        <!-- Cards will be appended here -->
    </div>
</div>



<script>

    $(document).ready(function () {
        bookEventList();
    });

    function bookEventList() {
        $.ajax({
            type: "Get",
            url: "/CustomerBooking/CustomerListEvent",
            success: function (data) {
                var cardContainer = $('#cardContainer');
                data.forEach(function (item) {
                    var card = `
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100 p-3">
                                        <img src="/addeventimages/${item.AddEventModel.ImagePath}" class="card-img-top" alt="Image">
                                        <div class="card-body">
                                            <h5 class="card-title">${item.AddEventModel.Category}</h5>
                                            <p class="card-text">Location: ${item.AddEventModel.Location}</p>
                                            <p class="card-text">Capacity: ${item.AddEventModel.Capacity}</p>
                                            <p class="card-text">Amount: ${item.AddEventModel.Amount}</p>
                                            <button class="btn btn-info" onclick="populateBookData(${item.AddEventModel.Id})" data-bs-toggle="modal" data-bs-target="#bookEvent">Book Now</button>
                                        </div>
                                    </div>
                                </div>
                            `;
                    cardContainer.append(card);
                });
            },
            error: function (textStatus, errorThrown) {
                console.log('Error: ' + textStatus);
            }
        });
    }


    function previewImage(input) {
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagePreviewUpdate').attr('src', e.target.result).show();
            };

            reader.readAsDataURL(file);
        } else {
            // Clear the image preview if no file is selected
            $('#imagePreviewUpdate').attr('src', '').hide();
        }
    }

    function populateBookData(ID) {
        debugger;

        $.ajax({

            type: "GET",
            url: "/CustomerBooking/Populate/" + ID,

            success: function (event) {
                debugger;

                // Populate the form with the received employee details
                $('#Id').val(event.AddEventModel.Id);
                $('#Category').val(event.AddEventModel.Category);
                $('#Location').val(event.AddEventModel.Location);
                $('#Capacity').val(event.AddEventModel.Capacity);
                $('#Amount').val(event.AddEventModel.Amount);
                $('#Contact').val(event.AddEventModel.Contact);
                $('#Address').val(event.AddEventModel.Address);
                $('#Description').val(event.AddEventModel.Description);

                var imagePreview = "/addeventimages/" + event.AddEventModel.ImagePath;
                $('#imagePreviewView').attr('src', imagePreview).show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function updateBook() {
        debugger;

        var bookData = {

            AddEventModel: {
                Id: $('#Id').val(),
                Amount: $('#Amount').val(),
            },

            BookedEventsModel: {
                Deposit: $('#Deposit').val(),
                Date: $('#Date').val(),
                Time: $('#Time').val(),
                Addevent_id: $('#Id').val(),
            }
        }


        // var bookId = {
        //     Id: $('#Id').val(),
        // }

        // var bookData = {
        //     Deposit: $('#Deposit').val(),
        //     Date: $('#Date').val(),
        //     Time: $('#Time').val(),
        // }

        console.log(bookData);
        debugger;

        $.ajax({
            type: "POST",
            url: "/CustomerBooking/Booked",
            data: JSON.stringify(bookData),
            contentType: 'application/json',
            processData: false,
            cache: false,

            success: function (data) {

                $('#bookEvent').modal('hide');

                Swal.fire({
                    title: "Good job!",
                    text: "Event saved successfully!",
                    icon: "success",
                    button: "Ok",
                });

                alert("Event Booked Successfully!");

                // Remove all cards from the container
                $('#cardContainer').empty();

                // datatable.destroy();
                bookEventList();
                window.location.href = '/Customer/Customer';

            },
            error: function (errormessage) {
                Swal.fire({
                    title: "Error saving event!",
                    text: "close",
                    icon: "Error"
                });
            }
        });
    }


</script>